# Activation du module de réécriture
RewriteEngine On

# Redirection forcée vers HTTPS (Ignorée sur localhost)
# Vérifie que l'hôte n'est pas localhost ou 127.0.0.1
RewriteCond %{HTTP_HOST} !^localhost$ [NC]
RewriteCond %{HTTP_HOST} !^127\.0\.0\.1$ [NC]
# Vérifie si le HTTPS est désactivé
RewriteCond %{HTTPS} off
# Redirige vers la version sécurisée HTTPS
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Désactivation des vues multiples pour éviter les conflits de routage
Options -MultiViews

# Routage : Si le fichier, le dossier ou le lien symbolique n'existe pas,
# on redirige toutes les requêtes vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]